<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PHP CRUD with Vue</title>

    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

<div id="app">
    <div class="loading" v-if="loading">
        <p>Loading...</p>
    </div>

    <div class="container">

        <div class="header">
            <h2>Contact List Book</h2>
            <button class="btn" @click="showAddOnClink">Add New</button>
        </div>

        <div class="content">
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Action</th>
                </tr>
                </thead>

                <tbody>
                <tr v-for="contact in contacts">
                    <td>{{contact.id}}</td>
                    <td>{{contact.name}}</td>
                    <td>{{contact.phone}}</td>
                    <td>
                        <a href="#" class="edit" @click="showEditOnClink(); selectContact(contact)">Edit</a>
                        <a href="#" class="delete" @click="showDeleteOnClink(); selectContact(contact)">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="footer txt-center">
            <p>Made with <span>&hearts;</span> by Tanvir</p>
        </div>

    </div>

    <div class="popup addnew-popup" v-if="showAddPopup">
        <h3>Add New Contact</h3>
        <label for="name">Name</label>
        <input type="text" id="name" v-model="newContact.name">

        <label for="phone">Phone</label>
        <input type="number" id="phone" v-model="newContact.phone">

        <button class="btn delete" @click="hideAddOnClink">Cancel</button>
        <button class="btn" @click="hideAddOnClink(); addNewContact()">Add new</button>
    </div>

    <div class="popup edit-popup" v-if="showEditPopup">
        <h3>Update Contact</h3>
        <form @submit.prevent>
            <label for="name">Name</label>
            <input type="text" id="name" v-model="selectedContact.name">

            <label for="phone">Phone</label>
            <input type="number" id="phone" v-model="selectedContact.phone">

            <button class="btn delete" @click="hideEditOnClink">Cancel</button>
            <button class="btn" @click="hideEditOnClink(); editContact()">Update</button>
        </form>
    </div>

    <div class="popup delete-popup" v-if="showDeletePopup">
        <p>Do you want to delete <i>"{{selectedContact.name}}"</i>?</p>
        <button class="btn delete" @click="hideDeleteOnClink(); deleteContact()">Yes</button>
        <button class="btn edit" @click="hideDeleteOnClink()">No</button>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script src="assets/js/scripts.js"></script>
</body>
</html>