<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PHP CRUD with Vue</title>

    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>

<div id="app">
    <div class="container">

        <div class="header">
            <h2>Contact List Book</h2>
            <button class="btn" @click="showAddOnClink">Add New</button>
        </div>

        <div class="content">
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Action</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>1</td>
                    <td>Tanvirul Haque</td>
                    <td>01646785958</td>
                    <td>
                        <a href="#" class="edit" @click="showEditOnClink">Edit</a>
                        <a href="#" class="delete" @click="showDeleteOnClink">Delete</a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Jacob</td>
                    <td>01768845878</td>
                    <td>
                        <a href="#" class="edit">Edit</a>
                        <a href="#" class="delete">Delete</a>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Larry</td>
                    <td>01985478558</td>
                    <td>
                        <a href="#" class="edit">Edit</a>
                        <a href="#" class="delete">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="footer txt-center">
            <p>Made with <span>&hearts;</span> by Tanvir</p>
        </div>

    </div>

    <div class="popup addnew-popup" v-if="showAddPopup">
        <h3>Add New Contact</h3>
        <form action="">
            <label for="name">Name</label>
            <input type="text" id="name">

            <label for="phone">Phone</label>
            <input type="number" id="phone">

            <button class="btn delete" @click="hideAddOnClink">Cancel</button>
            <button class="btn">Add new</button>
        </form>
    </div>

    <div class="popup edit-popup" v-if="showEditPopup">
        <h3>Update Contact</h3>
        <form action="">
            <label for="name">Name</label>
            <input type="text" id="name">

            <label for="phone">Phone</label>
            <input type="number" id="phone">

            <button class="btn delete" @click="hideEditOnClink">Cancel</button>
            <button class="btn">Update</button>
        </form>
    </div>

    <div class="popup delete-popup" v-if="showDeletePopup">
        <p>Do you want to delete?</p>
        <button class="btn delete" @click="hideDeleteOnClink">No</button>
        <button class="btn edit">Yes</button>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="assets/js/scripts.js"></script>
</body>
</html>